<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Kofi Members Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>

    <php>
        <env name="WP_TESTS_PHPUNIT_POLYFILLS_PATH" value="/var/www/html/wp-content/plugins/kofi-members/vendor/yoast/phpunit-polyfills"/>
    </php>
</phpunit>
